@import "~bootstrap/scss/bootstrap.scss";

.task-container {
  .btn-left {
    margin-right: 1em;
  }
  .btn-right {
      margin-left: 1em;
  }

  a:hover {
    text-decoration: none;
  }

  .disabled, .disabled:hover {
    cursor: not-allowed;
  }
}